.container {
    width: 100%;
    height: 100vh;
    border-radius: 5px;
    flex-direction: column;
    margin-bottom: -50px;
    padding-top: 40px;

}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#signup-form {
    max-width: 450px;
    margin: auto;
    background: #06558E;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 3rem;
    box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    row-gap: 7px;
}

.form-label {
    height: 43px !important;
    padding-left: 10px;
    width: 100% !important;
    background: #fff;
    border: none;
    border-radius: 5px;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #F9A33F;
}

.container button {
    width: 100%;
    height: 40px;
    background: #F9A33F;
    border-radius: 10px;
    filter: drop-shadow(4px 10px 15px rgba(0, 0, 0, 0.5));
    
}

.error-input {
    border: 1px solid red;
    padding: -2px;
}

.password-strength {
    color: red;
    font-weight: bold;
}

.success-input {
    border: 2px solid springgreen;
}